.datepickerBox.react-datepicker{
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-gray-90);
  box-shadow: rgb(0 0 0 / 6%) 0px 8px 16px 0px;
  display: flex;
  font-family: var(--font-famliy);
}
.datepickerBox .react-datepicker__header{
  background-color: var(--color-bg-white);
  border-bottom: 1px solid var(--color-gray-90);
}
.react-datepicker__navigation--previous{
  border-right-color: var(--color-bg-black) !important;
}
.react-datepicker__navigation--next{
  border-left-color: var(--color-bg-black) !important;
}
.datepickerBox .react-datepicker__current-month, 
.datepickerBox .react-datepicker-time__header, 
.datepickerBox .react-datepicker-year-header,
.datepickerBox .react-datepicker__day-name, 
.datepickerBox .react-datepicker__day, 
.datepickerBox .react-datepicker__time-name,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item{
  color: var(--color-text-primary);
  font-size: 0.75rem;
}
.datepickerBox .react-datepicker__current-month,
.datepickerBox .react-datepicker-time__header{
  font-size: 1rem;
}
.datepickerBox .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
  width: 1.75rem !important;
  line-height: 1.75rem !important;
  margin: 3px !important;
}
.react-datepicker__month {
  margin: 4px !important;
}
.react-datepicker-popper[data-placement^="bottom"] .datepickerBox .react-datepicker__triangle, 
.react-datepicker-popper[data-placement^="bottom"] .datepickerBox .react-datepicker__triangle::before{
  border-bottom-color:var(--color-bg-white);
}
.react-datepicker-popper[data-placement^="top-start"] .datepickerBox .react-datepicker__triangle::before{
  border-top-color:var(--color-gray-90);
}
.react-datepicker-popper[data-placement^="bottom"] .datepickerBox .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="top-start"] .datepickerBox .react-datepicker__triangle{
  left: 0 !important;
  right: 0 !important;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker-popper[data-placement^="top-start"] .datepickerBox .react-datepicker__triangle{
  border-top-color: var(--color-gray-200);
}
.react-datepicker-popper[data-placement^="bottom"] .datepickerBox .react-datepicker__triangle::before{
  border-bottom-color: var(--color-gray-90);
}
.react-datepicker-popper{
  z-index: 100 !important; 
}
.datepickerBox button:focus{
 outline: none;
}
.datepickerBox .react-datepicker__day--selected, 
.datepickerBox .react-datepicker__day--selected:hover, 
.datepickerBox .react-datepicker__day--in-selecting-range:hover, 
.datepickerBox .react-datepicker__day--in-range:hover, 
.datepickerBox .react-datepicker__month-text--selected:hover, 
.datepickerBox .react-datepicker__month-text--in-selecting-range:hover, 
.datepickerBox .react-datepicker__month-text--in-range:hover, 
.datepickerBox .react-datepicker__quarter-text--selected:hover, 
.datepickerBox .react-datepicker__quarter-text--in-selecting-range:hover, 
.datepickerBox .react-datepicker__quarter-text--in-range:hover, 
.datepickerBox .react-datepicker__year-text--selected:hover, 
.datepickerBox .react-datepicker__year-text--in-selecting-range:hover, 
.datepickerBox .react-datepicker__year-text--in-range:hover,
.datepickerBox .react-datepicker__day:hover, 
.datepickerBox .react-datepicker__month-text:hover, 
.datepickerBox .react-datepicker__quarter-text:hover, 
.datepickerBox .react-datepicker__year-text:hover,
.datepickerBox .react-datepicker__day--keyboard-selected, 
.datepickerBox .react-datepicker__month-text--keyboard-selected, 
.datepickerBox .react-datepicker__quarter-text--keyboard-selected, 
.datepickerBox .react-datepicker__year-text--keyboard-selected{
  background-color: var(--color-bg-primary);
  color: #fff;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{
  padding-right: 1px;
}

/* timepicker */
.react-datepicker__time-container{
  border-left: 1px solid var(--color-gray-90) !important;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
  background: var(--color-bg-white);
  color: var(--color-text-primary);
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover,
.react-datepicker__time-list-item--selected{ 
   background-color: var(--color-bg-primary) !important;
   color: #fff;
}
.react-datepicker__input-container input{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 28px;
}
.react-datepicker-wrapper .react-datepicker__close-icon::after{
  background-color: transparent !important;
  height: 18px;
  width: 18px;
  font-size: 20px;
}
.react-datepicker__close-icon{
  background-color: var(--color-gray-input) !important;
  z-index: 1;
  right: 4px !important;
  padding: 3px 4px !important;
}

.react-datepicker__day--disabled,
.react-datepicker__time-list-item--disabled{
  cursor: not-allowed !important;
  opacity: 0.6 !important;
  color: var(--color-text-primary) !important; 
}

.react-datepicker__day--disabled:hover,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item.react-datepicker__time-list-item--disabled:hover{
  background-color: transparent !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;  
}
.react-datepicker__day--keyboard-selected:hover {
  background-color:  var(--color-bg-primary) !important
}